<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<link rel="stylesheet" type="text/css" href="../../css/easyui/icon.css" />
<link rel="stylesheet" type="text/css" href="../../css/easyui/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="../../css/tencr.css" />
<link rel="stylesheet" type="text/css" href="../../css/main.css" />
<script type="text/javascript" src="../../js/jquery.min.js?versionnumber="></script>
<script type="text/javascript" src="../../js/jquery.easyui.min.js?versionnumber="></script>
<script type="text/javascript" src="../../js/easyui-lang-zh_CN.js?versionnumber="></script>
<script type="text/javascript" src="../../js/Constant.js?versionnumber="></script>